.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-icon-upload {
  width: 1.5em;
}

.icon-icon-document {
  width: 0.8330078125em;
}

.icon-icon-folder {
  width: 1.2001953125em;
}
